# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/test
/run

/atdeprecated-server/build.gradle.kts
/atdeprecated-server/src/minecraft
/atdeprecated-server/build
/atdeprecated-server/.gradle
/atdeprecated-api/build
/atdeprecated-api/build.gradle.kts
/paper-server
/folia-server
/luminol-server
/paper-api
/paper-api-generator
/folia-api
/luminol-api

.idea/
